.App {
  
}
.heading{
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  margin-bottom: 1rem;
  height: 70px;
}
.search input{
  padding: 10px;
  outline: none;
}
.content-card{
  height: 400px;
  width: 250px;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  margin: 1rem;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: purple;
}
.content-card:hover{
  transform: scale(0.9);
}
.card-iage{
  width: 250px;
  height: 250px;
}
.card-iage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.body{
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  left: 0;
}
.contenaire{
  display: flex;
  flex-wrap: wrap;
  padding: 0px 200px 0px 200px;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  text-transform: capitalize;
}
.description{
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-movie button{
  padding: 20px;
  border: 0;
  background: 0;
  cursor: pointer;
  color: #FFF;
  outline: none;
}
.add-movie{
  cursor: pointer;
  width: 10%;
  display: flex;
  position: relative;
  left: 550px;
  justify-content: center;
  align-items: center;
  background-color: purple;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.add-movie:hover{
transform: scale(1.05);
background-color: red;
}
.rating{
  color: red;
}
.input input{
  padding: 20px;
  width: 300px;
  margin: 1rem;
  outline: none;
  border: 2px solid purple;
}
.form{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  position: relative;
  z-index: 200;
  display: flex;
  left: 680px;
  top: -50px;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: rgb(148, 128, 128);
  border-radius: 5px;
  display: none;
}
.button button{
  padding: 20px;
  width: 100px;
  outline: none;
  cursor: pointer;
  background-color: purple;
  color: #FFF;
  text-transform: uppercase;
  border: 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.button{
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button button:hover{
  background-color: red;
  transform: scale(1.02);
}
.display{
  display: block;
}
.box-contenaire{
  display:  flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0px 200px 0px 200px;
}
.box-image{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  height: 400px;
  width: 30%;
  margin-right: 1rem;
  border-radius: 10px;
}
.box-image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.box-decripation{
  border: 5px solid purple;
  height: 400px;
  width: 70%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}